*{
    padding: 0;
    margin: 0;
}

main{
    background-image: url("./images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1,p{
    color: white;
    
}

h1{
    font-size: 70px;
}

p{
    font-size: 20px;
}


.text{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-left: 100px;
}

button{
    color: white;
    background-color: transparent;
    border: solid 2px white;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    margin-top: 50px;
}

.profile{
    background-color: rgb(192, 188, 188);
    width: 300px;
    height: 300px;
    margin: 50px ;
}

div img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.profile1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column wrap;
    gap: 5px;
    margin-top: -70px;
    margin-left: 50px;
}

section p{
    display: flex;
    align-items: end;
    margin-top: 60px;
    margin-left: 20px;
}